<!doctype html>
<html>

<head>

    <title>ğ“Ÿğ“ªğ“»ğ“µğ“ªğ”‚ï¸â›³ï¸ğ“–ğ“¸ğ“µğ“¯ğ“®ğ“»</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link rel="stylesheet" href="../public/styles/drunken-parrot.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/smooth-scroll.js"></script>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
        
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
     <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/scorecard">Leaderboard</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
        <!-- <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                  <div class="bg-dark p-4">
                    <h4 class="text-white">Collapsed content</h4>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                  </div>
                </div>
                <nav class="navbar fixed-top navbar-dark bg-dark">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </nav>
              </div> -->
    <div class="container">

        <div class="jumbotron text-center">
            <h1>ğ“Ÿğ“ªğ“»ğ“µğ“ªğ”‚ï¸â›³ï¸ğ“–ğ“¸ğ“µğ“¯ğ“®ğ“»</h1>
            <h1>ğ’ğ’½ğ’¶ğ“‡ğ’¾ğ“‰ğ“ ğ’¢ğ‘œğ“ğ’» ğ’œğ’«ğ’«</h1>

            <h2>Select Hole</h2>
            <p>
                <%= course.coursename %>
            </p>

            <div class="btn-group btn-group-lg" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary"><h2>01</h2></button>
                <button type="button" class="btn btn-primary"><h2>02</h2></button>
                <button type="button" class="btn btn-primary"><h2>03</h2></button>
            </div>
            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="Second group">
                <button type="button" class="btn btn-primary"><h2>04</h2></button>
                <button type="button" class="btn btn-primary"><h2>05</h2></button>
                <button type="button" class="btn btn-primary"><h2>06</h2></button>
            </div>
            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="Third group">
                <button type="button" class="btn btn-primary"><h2>07</h2></button>
                <button type="button" class="btn btn-primary"><h2>08</h2></button>
                <button type="button" class="btn btn-primary"><h2>09</h2></button>
            </div>
            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="Fourth group">
                <button type="button" class="btn btn-danger"><h2>10</h2></button>
                <button type="button" class="btn btn-danger"><h2>11</h2></button>
                <button type="button" class="btn btn-danger"><h2>12</h2></button>
            </div>
            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="Fifth group">
                <button type="button" class="btn btn-danger"><h2>13</h2></button>
                <button type="button" class="btn btn-danger"><h2>14</h2></button>
                <button type="button" class="btn btn-danger"><h2>15</h2></button>
            </div>
            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="Sixth group">
                <button type="button" class="btn btn-danger"><h2>16</h2></button>
                <button type="button" class="btn btn-danger"><h2>17</h2></button>
                <button type="button" class="btn btn-danger"><h2>18</h2></button>
            </div>
            <br>
</body>

</html>