<!doctype html>
<html>

<head>
    <title>𝓟𝓪𝓻𝓵𝓪𝔂️⛳️𝓖𝓸𝓵𝓯𝓮𝓻</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/smooth-scroll.js"></script>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>𝓟𝓪𝓻𝓵𝓪𝔂️⛳️𝓖𝓸𝓵𝓯𝓮𝓻</h1>
            <h1>𝒞𝒽𝒶𝓇𝒾𝓉𝓎 𝒢𝑜𝓁𝒻 𝒜𝒫𝒫</h1>

            <div class="page-header text-center">
            <h2>Team Profile Page</h2>
        </div>
    
        <script src="./app/models/teams.js"></script>
</body>

</html>