<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/smooth-scroll.js"></script>
    <link rel="stylesheet" href="../public/styles/styles.css">

    <link rel="stylesheet" href="../public/styles/drunken-parrot.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>⛳️ 🎰 Parlay-Golfer</h1>
            <h1>A Charity Golf App</h1>

            <h2>Select Hole</h2>
            <p>
                <%= course.coursename %>
            </p>

            <div class="btn-group btn-group-lg" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary"><h2>01</h2></button>
                <button type="button" class="btn btn-primary"><h2>02</h2></button>
                <button type="button" class="btn btn-primary"><h2>03</h2></button>
            </div>
            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="Second group">
                <button type="button" class="btn btn-primary"><h2>04</h2></button>
                <button type="button" class="btn btn-primary"><h2>05</h2></button>
                <button type="button" class="btn btn-primary"><h2>06</h2></button>
            </div>
            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="Third group">
                <button type="button" class="btn btn-primary"><h2>07</h2></button>
                <button type="button" class="btn btn-primary"><h2>08</h2></button>
                <button type="button" class="btn btn-primary"><h2>09</h2></button>
            </div>
            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="Fourth group">
                <button type="button" class="btn btn-danger"><h2>10</h2></button>
                <button type="button" class="btn btn-danger"><h2>11</h2></button>
                <button type="button" class="btn btn-danger"><h2>12</h2></button>
            </div>
            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="Fifth group">
                <button type="button" class="btn btn-danger"><h2>13</h2></button>
                <button type="button" class="btn btn-danger"><h2>14</h2></button>
                <button type="button" class="btn btn-danger"><h2>15</h2></button>
            </div>
            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="Sixth group">
                <button type="button" class="btn btn-danger"><h2>16</h2></button>
                <button type="button" class="btn btn-danger"><h2>17</h2></button>
                <button type="button" class="btn btn-danger"><h2>18</h2></button>
            </div>
            <br>
</body>

</html>