<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>𝓟𝓪𝓻𝓵𝓪𝔂️⛳️𝓖𝓸𝓵𝓯𝓮𝓻</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
            crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
            <link rel="stylesheet" href="/styles/style.css">

    <!-- comment -->
    <!-- <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Parlay-Golfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="./../../public/styles/bootstrap4-vibrant-sea.min.css"> -->
    <!-- <link rel="stylesheet" href="/styles/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script> -->

        <!-- <style>
        body {
            background-color: rgb(54, 67, 71);
        }
        .jumbotron {
            height: 20vh;
        }
        
    </style> -->
</head>

<!-- BEGIN NAVBAR  -->
<nav class="navbar navbar-toggleable navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="map.ejs"> 𝓟𝓪𝓻𝓵𝓪𝔂️⛳️𝓖𝓸𝓵𝓯𝓮𝓻
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./select-hole">Select Hole</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!--    
        <nav class="nav nav-pills nav-fill navbar-expand-lg navbar-light bg-light">
            <a class="nav-item nav-link" href="#the-map"><img src="https://s3.amazonaws.com/parlay-golfer/img/icons/golf.svg" width="40px"></a>
            <a class="nav-item nav-link" href="#mark-score"><img src="https://s3.amazonaws.com/parlay-golfer/img/icons/score.svg" width="40px"></a>
            <a class="nav-item nav-link" href="#fly-over"><img src="https://s3.amazonaws.com/parlay-golfer/img/icons/drone.svg" width="40px"></a>
        </nav> -->

<body>
    <div class="container">
       
        <nav class="nav nav-pills nav-fill">
            <a data-toggle="pill" class="nav-item nav-link active" href="#the-map"><img src="https://s3.amazonaws.com/parlay-golfer/img/icons/golf.svg" width="40px"><br>Map</a>
            <a data-toggle="pill" class="nav-item nav-link" href="#mark-score"><img src="https://s3.amazonaws.com/parlay-golfer/img/icons/score.svg" width="40px"><br>Mark Score</a>
            <a data-toggle="pill" class="nav-item nav-link" href="#fly-over"><img src="https://s3.amazonaws.com/parlay-golfer/img/icons/drone.svg" width="40px"><br><br>Fly-over</a>
        </nav>

        <div class="tab-content">
            <div id="the-map" class="tab-pane fade  active">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <img id="image" class="card-img-top" src="" style="height:260px;" alt="Card image cap">
                            <div class="card-body">
                                <p class="font-weight-bold" id="white"></p>
                                <div class="table-responsive">
                                    <table class="table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Hole</th>
                                                <th scope="col">1</th>
                                                <th scope="col">2</th>
                                                <th scope="col">3</th>
                                                <th scope="col">4</th>
                                                <th scope="col">5</th>
                                                <th scope="col">6</th>
                                                <th scope="col">7</th>
                                                <th scope="col">8</th>
                                                <th scope="col">9</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <th scope="row">Par</th>
                                                <td>3</td>
                                                <td>3</td>
                                                <td>3</td>
                                                <td>3</td>
                                                <td>3</td>
                                                <td>3</td>
                                                <td>3</td>
                                                <td>3</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">🏌🏼</th>
                                                <td id="stokes01"></td>
                                                <td id="stokes02"></td>
                                                <td id="stokes03"></td>
                                                <td id="stokes04"></td>
                                                <td id="stokes05"></td>
                                                <td id="stokes06"></td>
                                                <td id="stokes07"></td>
                                                <td id="stokes08"></td>
                                                <td id="stokes09"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">⛳️</th>
                                                <td id="total01"></td>
                                                <td id="total02"></td>
                                                <td id="total03"></td>
                                                <td id="total04"></td>
                                                <td id="total05"></td>
                                                <td id="total06"></td>
                                                <td id="total07"></td>
                                                <td id="total08"></td>
                                                <td id="total09"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mark-score" class="tab-pane fade">
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-3 text-center text-primary" id="score"></h1>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <button class="btn btn-primary btn-block" id="score-up">
                                <h1><i class="fas fa-chevron-up"></i></h1>
                            </button>
                            <h2 class=" text-center text-success" style="padding:25px;">Strokes</h2>
                            <button class="btn btn-primary btn-block" id="score-down">
                                <h1><i class="fas fa-chevron-down"></i></h1>
                            </button>
                            <hr>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <button class="btn btn-danger btn-block red " id="submit-score">
                                <h5>Submit Strokes</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="fly-over" class="tab-pane fade">

            </div>
        </div>


        <nav class="navbar fixed-bottom  bg-light">
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary" id="previous-hole">
                    <i class="fas fa-chevron-circle-left"></i>
                </button>
            </div>
            <h2 id="hole-num"></h2>
            <button type="button" class="btn btn-primary" id="next-hole">
                <i class="fas fa-chevron-circle-right"></i>
            </button>
        </nav>


    </div>




    <script>
        $(document).ready(function () {
            var currentHole = 0;
            $("#white").html("White: " + holes[currentHole].white);
            $("#hole-num").html(holes[currentHole].name)
            $("#image").attr("src", holes[currentHole].photo)

            $('#next-hole').on('click', function () {
                currentHole++;
                $("#white").html("White: " + holes[currentHole].white);
                $("#hole-num").html(holes[currentHole].name);
                $("#image").attr("src", holes[currentHole].photo)
            })

            $('#previous-hole').on('click', function () {
                currentHole--;
                $("#white").html("White: " + holes[currentHole].white);
                $("#hole-num").html(holes[currentHole].name);
                $("#image").attr("src", holes[currentHole].photo)
            })

        });
    </script>

    <script>
        var holes = [{
                name: "1st Hole",
                photo: "https://s3.amazonaws.com/parlay-golfer/img/hole/hole01.png",
                white: "85 yds",
                par: "3",
            },

            {
                name: "2nd Hole",
                photo: "https://s3.amazonaws.com/parlay-golfer/img/hole/hole02.png",
                white: "128 yds",
                par: "3",
            },
            {
                name: "3rd Hole",
                photo: "https://s3.amazonaws.com/parlay-golfer/img/hole/hole03.png",
                white: "164 yds",
                par: "3",
            },
            {
                name: "4th Hole",
                photo: "https://s3.amazonaws.com/parlay-golfer/img/hole/hole04.png",
                white: "117 yds",
                par: "3",
            },
            {
                name: "5th Hole",
                photo: "https://s3.amazonaws.com/parlay-golfer/img/hole/hole05.png",
                white: "134 yds",
                par: "3",
            },
            {
                name: "6th Hole",
                photo: "https://s3.amazonaws.com/parlay-golfer/img/hole/hole06.png",
                white: "88 yds",
                par: "3",
            },
            {
                name: "7th Hole",
                photo: "https://s3.amazonaws.com/parlay-golfer/img/hole/hole07.png",
                white: "102 yds",
                par: "3",
            },
            {
                name: "8th Hole",
                photo: "https://s3.amazonaws.com/parlay-golfer/img/hole/hole08.png",
                white: "104 yds",
                par: "3",
            },
            {
                name: "9th Hole",
                photo: "https://s3.amazonaws.com/parlay-golfer/img/hole/hole09.png",
                white: "64 yds",
                par: "3",
            },
        ]
    </script>

    <script>
        var playerScore = 3;

        $("#score").html(playerScore);

        $('#score-up').on('click', function () {
            playerScore++;
            $("#score").html(playerScore);
        })

        $('#score-down').on('click', function () {
            playerScore--;
            $("#score").html(playerScore);
        })

        // $('#submit-score').on('click', function () {
        //     console.log("Player Score submiteed to MySQL db: " + playerScore)
        // })


    </script>
</body>

</html>