<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Parlay-Golfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="drunken-parrot.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="drunken-parrot.css">

    <style>
        body {
            background-color: #fff;        
                    }
                    #font-barcode {
                font-family: 'Libre Barcode 39';
            }
            
            .container {
                margin: auto 0;
                text-align: center;
                width: 80%;
            }
            
            .grid {
                align-self: center;
            }
        
            .img-responsive.center-block {
                border-radius: 20px;
            }
            
            @media screen and (max-width: 768px) {
                .text-align-tablet {
                    text-align: left;
                }
                .code-menu {
                    text-align: left;
                }
            }
    </style>
</head>
<!-- BEGIN NAVBAR  -->
<nav class="navbar navbar-toggleable navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="map.ejs"> ğ“Ÿğ“ªğ“»ğ“µğ“ªğ”‚ï¸â›³ï¸ğ“–ğ“¸ğ“µğ“¯ğ“®ğ“»
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./select-hole">Select Hole</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./score">Score</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./scorecard">Scorecard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<nav class="nav nav-pills nav-fill navbar-expand-lg navbar-light bg-light">
    <a class="nav-item nav-link" href="./map"><img src="https://s3.amazonaws.com/parlay-golfer/img/icons/golf.svg" width="40px"></a>
    <a class="nav-item nav-link" href="./scorecard"><img src="https://s3.amazonaws.com/parlay-golfer/img/icons/score.svg" width="40px"></a>
    <a class="nav-item nav-link" href="./fly-by"><img src="https://s3.amazonaws.com/parlay-golfer/img/icons/drone.svg" width="40px"></a>
</nav>

<body>

    <!-- ejs code goes here -->

    <!-- BEGIN JUMBOTRON -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">

                <button type="button" class="btn btn-primary" style="width: 300px; height: 40px">
                        <i class="glyphicon glyphicon-triangle-top">UP</i>
                    </button>
<br>
<br>
<div style="width: 300px; height: 300px; border: 10px solid #000000">

                    <div class="text-align-center">
                        <h1 id="display-score" style="font-size: 220px">3</h1>
                   </div>
            </div>

<br>
        <div>
            <button type="button" class="btn btn-primary" style="width: 300px; height: 40px">
                    <i class="glyphicon glyphicon-triangle-bottom">DOWN</i>
             </button>
        </div>
        <div>
            <button type="button" class="btn btn-warning" style="width: 300px; height: 40px">
                    <i id="save-score" class="glyphicon glyphicon-triangle-bottom">Save</i>
             </button>
        </div>
    </div>
</div>
    <!-- END JUMBOTRON -->
<script type="text/javascript" src="../app/models/score.js"></script>
</body>

<nav class="navbar fixed-bottom  bg-light">
    <div class="col-xs-4">
        <button type="button" class="btn btn-primary">
            <i class="fas fa-chevron-circle-left"></i>
        </button>
    </div>
    <h2>1st Hole</h2>
    <button type="button" class="btn btn-primary">
        <i class="fas fa-chevron-circle-right"></i>
    </button>
</nav>
</div>

</html>