<!doctype html>
<html>
<head>
    <title>ğ“Ÿğ“ªğ“»ğ“µğ“ªğ”‚ï¸â›³ï¸ğ“–ğ“¸ğ“µğ“¯ğ“®ğ“»</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">

   
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>ğ“Ÿğ“ªğ“»ğ“µğ“ªğ”‚ï¸â›³ï¸ğ“–ğ“¸ğ“µğ“¯ğ“®ğ“»</h1>
        <h1>ğ’ğ’½ğ’¶ğ“‡ğ’¾ğ“‰ğ“ ğ’¢ğ‘œğ“ğ’» ğ’œğ’«ğ’«</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>

    <div class="text-center">
        <p>View code at <a href="https://github.com/benjaminwulf/Parlay-Golfer">GitHub</a>.</p>
    </div>

</div>
</body>
</html>
